<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>


    <form method="post">
    <input type="text" name="nom" placeholder="Nom" required>
    <input type="text" name="tel" placeholder="Téléphone">
    <input type="email" name="mail" placeholder="Email" required>
    <input type="text" name="bp" placeholder="BP">
    <input type="text" name="ville" placeholder="Ville">
    <button type="submit">S'inscrire</button>
</form>


</head>
<body>
    
</body>
</html>

